project/server
project/client
.vscode/settings.json
project/USERS/
project/USERS/**
project/AUCTIONS/
project/AUCTIONS/**
project/teste.txt
project/zor.PNG
project/ola.png
project/7.2-MB.jpg
project/ASSETS/7.2-MB.jpg
